/***************
global styling
***************/
* {
	box-sizing: border-box;
	*border: 1px solid #000;
}

.clearfix:after {
	display: table;
	clear: both;
	content: '';
}

/*******************
Page Layout
*******************/

header {
	float: left;
	position: relative;
	width: 80%;
}